/* Styles for ChatSection.jsx */

.chat-log{
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-header{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-bottom: solid 2px rgb(32, 32, 32);
}


.chat-input-bar{
    background-color: #444444 !important;
    color: white !important;
}


