/* Styles for FriendsList.jsx */
div.section-container {
  max-height: 100%;
  padding-left: 10px;
  padding-right: 10px ;
  background-color: var(--friends-bar) ;
}

div.section-wrapper {
  height: 100%;
}

div.section-tabs{
    height: 5%;
}
div.section-tabpanels{
    height: 93%;
}

div.friends-list {
  overflow-y: auto;
  overflow-x: hidden;
}