:root{
  --primary-font-color: #99aab5;
  --primary-highlight-color: #ffffff;
  --primary-color: #2c2f33;
  --server-bar: #23272a;
  --server-detail-bar: #282b2f;
  --friends-bar: #282b2f;
  --user-interface: #26292c;

  --search-bar-color: #444444 ;
  --search-bar-font-color: #ffffff ; 
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(90, 90, 90);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
  border-radius: 10px;
}

.App {
  color: white;
  background-color: var(--primary-color); 
  min-height: 500px !important;
  min-width: 100px !important;
}

.servers-wrapper,
.server-detail-wrapper,
.chat-wrapper,
.friends-list-wrapper {
  color: var(--primary-font-color);
  min-height: 0px;
  height: 100vh; 
  overflow-y: auto;
}

.my-icons{
  margin: 10px;
  color: var(--primary-font-color);
  cursor: pointer;
}
.my-icons:hover{
  color: var(--primary-highlight-color);
}

.my-avatar{
  cursor: pointer;
}
