.App {
  color: white;
  background-color: #2C2F33; 
}

.channels-wrapper,
.server-wrapper,
.chat-wrapper,
.friends-list-wrapper {
  min-height: 0px;
  height: 100vh; 
  overflow-y: auto;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(90, 90, 90);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
  border-radius: 10px;
}
