/* Styles for Servers.jsx */
.servers-content-container{
    margin: 30px 0;
    align-items: center;
}

.servers-icon{
    margin: 20px 0;
    width: 70px;
    height: 70px;

    transition: 0.3s !important;
    border-radius: 50% !important;
}

.servers-icon:hover{
    border-radius: 20% !important;
}

.create-server-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Styles for ServerDetail.jsx */
.server-detail-box-wrapper{
    height: 100%;
}

.server-detail-channel{
    overflow-y: auto;
    overflow-x: hidden;
}

.user-info-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}